<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
</style>

<main class="main">
  <div style="width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: flex-start;">
    <button type="button" style="width: 200px; height: 50px; background-color: cornflowerblue; color: white;"
      (click)="downloadCSV()">Download</button>
  </div>

</main>




<router-outlet />
